/*
Black-Tool
*/

body {
    background-color: antiquewhite
}

color1 {
    color: green;
}

color2 {
    color: cornflowerblue;
}

color3 {
    color: blanchedalmond;
}

color4 {
    color: darkslategrey;
}